html {
  background-color: #60a3bc;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
  font-weight: 700;
}

#every-second {
  background-color: white;
  padding: 1em;
}

#every-second div {
  margin-bottom: 0.5em;
}

#every-second div a {
  color: #0a3d62;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}